<!--
    <div class="text-900 text-3xl text-center pt-5  font-semibold mb-3">SIGNIN</div>
        <p-card [style]="{width: '30%', height: '320px'}" class="flex align-items-center justify-content-center pb-5 mb-3">
           
           
            <div class=" flex align-items-center justify-content-center">
                <div class="p-fluid">
                    <div class="field">
                        <label for="username">Username</label>
                        <input pInputText id="username" type="text" />
                    </div>
                    <div class="field">
                        <label for="password">Password</label>
                        <input pInputText id="password" type="password" />
                    </div>
                 

                   
                </div>
            </div>
                 
            <div class="b">
                <button pButton type="button" label="Login" class="p-button-rounded " icon="pi pi-sign-in"></button>
            </div><br>
            <span class="text-600 font-medium">You don't have an account?</span><span  class="text-800 text-1x2 font-medium"> <a routerLink="/register"> SignUp</a></span>
            
        </p-card>
        
  -->
<!--
  <div class="auth-wrapper">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Sign in</h3>
        
        <div *ngIf="errors?.email" class="alert alert-danger mt-3">
            {{ errors?.email }}
        </div>
        <div *ngIf="errors?.password" class="alert alert-danger mt-3">
            {{ errors?.password }}
        </div>
        <div *ngIf="errors?.error" class="alert alert-danger mt-3">
            {{ errors?.error }}
        </div>
      
77777login333333

        <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <button type="submit" class="btn btn-block btn-primary">Login</button>
    </form>
  </div>
-->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

<div class="text-900 text-3xl text-center pt-5  font-semibold mb-3">SIGNIN</div>
        <p-card [style]="{width: '30%', height: '320px'}" class="flex align-items-center justify-content-center pb-5 mb-3">
           
           
            <div class=" flex align-items-center justify-content-center">
                <div class="p-fluid">
                    <div class="field">
                        <label for="email">email</label>
                        <input pInputText id="email" type="email"  formControlName="email"/>
                    </div>
                    <div class="field">
                        <label for="password">Password</label>
                        <input pInputText id="password" type="password"  formControlName="password" />
                    </div>
                 

                   
                </div>
            </div>
                 
            <div class="b">
                <button pButton type="submit" label="Login"  class="p-button-rounded " icon="pi pi-sign-in"></button>
            </div><br>
            <span class="text-600 font-medium">You don't have an account?</span><span  class="text-800 text-1x2 font-medium"> <a routerLink="/register"> SignUp</a></span>
            
        </p-card>
    </form>